{% extends "base.html" %}
{% load static %}
{% block header %}
      {% include 'header.html' %}
{% endblock header %}
{% block header2 %}
      {% include 'header2.html' %}
{% endblock header2 %}
{% block content %} 
  <main class="card col-md-9 ml-sm-auto col-lg-10 px-md-4" style="width: 100%;">
  <div class=" col-md-9 ml-sm-auto col-lg-10 px-md-4" style="width: 100%;">
    <div class="card  mx-auto" style="width: 55%; height: 50%;">
      <img src="{{about.ceo_pix.url}}"class="bd-placeholder-img card-img-top" width="100%" height="100%"alt="" >
      <h4> Developers Name : {{about.ceo_name}}</h4>
      <h4> Company's Name : {{about.b_name}}</h4>
      <h4> Whatsapp No : <span style="color: green;">{{about.phone_no}}</span></h4>
      <h4> Call No : <span style="color: skyblue;">{{about.phone_no2}}</span></h4>
      <h4> Status : <span style="color: yellowgreen;">OWNER</span></h4>
  
  

  
          <h1>About <b>{{about.b_name}}</b></h1><br/><br/>
            {{about.about}}
          Anthony Matthew Have a nice day !<p><br/>
          
          
          <br/>

    </div>
   
  </div>

     



  <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>  
  </main>
  

 
{% endblock content %}


{% block footer %}
    {% include 'footer.html' %}
{% endblock footer %}
      

        
    


    

 
    




