<footer class="container py-5">
    <div class="row" style="width: 80%;margin-left: 20%;">
        <div class="col-12 col-md">
            <img src="/img/logo/empirelogo.png" alt="">
            <small class="d-block mb-3 text-muted">&copy; 2022-till date</small>
        </div>
        <div class="col-6 col-md">
            <h5 class="text-primary">Features</h5>
            <ul class="list-unstyled text-small">
                <li><a class="link-success" href="music.html">Cool MUsic</a></li>
                <li><a class="link-success" href="{% url 'homepage' %}">Funny content</a></li>
                <li><a class="link-success" href="vedio.html">Sports</a></li>
                <li><a class="link-success" href="vedio.html">news</a></li>
                <li><a class="link-success" href="mailto:matthew123224@gmail.com">Stuff for developers</a></li>
            </ul>
        </div>
        
        <div class="col-6 col-md">
            <h5 class="text-primary">About</h5>
            <ul class="list-unstyled text-small">
                <li><a class="link-success" href="{% url 'about' %}">Team</a></li> 
                <li><a class="link-success" href="{% url 'about' %}">Locations</a></li>
                <li><a class="link-success" href="{% url 'about' %}">Privacy</a></li>
                <li><a class="link-success" href="{% url 'about' %}">Terms</a></li>
            </ul>
        </div>
    </div>
</footer>
